@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:"JostBold";
  src: url(../public//fonts/Jost-Bold.ttf) format("truetype");
}

@font-face {
  font-family:"JostMedium";
  src: url(../public//fonts/Jost-Medium.ttf) format("truetype");
}

@font-face {
  font-family:"JostRegular";
  src: url(../public//fonts/Jost-Regular.ttf) format("truetype");
}

@font-face {
  font-family:"JostLight";
  src: url(../public//fonts/Jost-Light.ttf) format("truetype");
}

body {
  margin: 0;
  font-family:"JostMedium";
}